/* Fonts */

html {
    font-size: 62.5%;
}
body {
    font-family: "Roboto", "HelveticaNeue", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.6;
    color: #FFFFFF;
    position: relative;
}

/**
 * Layout styles
 */

/* Wrapper */
.wrapper, #content {
  position:relative;
  max-width:700px;
  margin: 0 auto;
  top: 2.5rem;
  padding: 25px;
  background: rgba(0,0,0,.8);
}

.wrapper{
  height: 35rem;
}

.homeImage {
  position: absolute;
  width: 100%;
  height: 40rem;
  z-index: 0;
  background:url("background.png") no-repeat center;
  background-size:contain;
  background-position: center;
  top: .75rem;
  right: 2rem;
}

html, #container, .inner { background-color:transparent;}

html {
  background:floralwhite;
  background-size:cover;
}

.intro {
  position: absolute;
  z-index: 1;
  width: 100%;
  height:750px;
}

header {
  margin-top: 0.5rem;
  margin-right: 5rem;
  position: absolute;
  top: 3.125rem;
  right: 0;
}

header > h1 {
  margin-bottom: 0rem;
}

header > h2 {
  font-size: 1.61rem;
}

header > p {
  text-align: center;
  line-height: normal;
}


.wrapper, #content { 
  color:#FFFFFF; 
  padding-top: 25px;
}

iframe {
  max-width:100%;
}

footer {
  color:#1c1c1d;
  background-color: floralwhite;
  font-weight: 100;
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding: 0.8rem;
}


/* Menu Links */
ul.main-menu {
  margin: 0;
  padding: 0;
  display: block;
  justify-content: left;
  list-style: none;
}
ul.main-menu li a {
  margin-bottom:20px;
  font-size:2.6rem;
  border-bottom: solid transparent 3px;
  color:#cfd2da;
}
ul.main-menu li a:hover {
  color:#FFFFFF;
}
ul.main-menu li a.active {
  color:#FFFFFF;
  border-bottom-color:royalblue;
}


/* Links */
a {
    font-weight: normal;
    text-decoration: none; 
    color: skyblue;
  }
  a:focus {
    outline: thin dotted;
  }
  
  small {
    font-size: 75%;
  }
  

/* Headings */
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    text-rendering: optimizeLegibility;
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300;
}
h1 { font-size: 4.6rem; line-height: 1.25; letter-spacing: -.1rem; font-family: Georgia, 'Times New Roman', Times, serif; font-style: italic;}
h2 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h3 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h4 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h5 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }
h6 { font-size: 1.4rem; line-height: 1.6;  letter-spacing: 0; }

/**
 * Paragraphs
 */
p.content {
    margin: 0 auto 1.5em auto; /* bottom margin for paragraphs */
}

/**
 * Quotes & Blockquotes
 */
q {
  quotes: '\00201C' '\00201D';
}
q:before {
  content: open-quote;
}
q:after {
  content: close-quote;
}

blockquote {
  /*background-color: #F8F8F8;*/
  border-left: 2px solid #AFC0D2;
  margin: 1.6em 10%;
  padding: .75em 1em;
  font-size:1.8rem;
}
blockquote p:last-child {
  margin-bottom: 0;  
}
  
/* Utility classes */
.hide {
  display:none;
}
.show {
  display:block;
}